@font-face {
  font-family: quicksand;
  src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}
:root {
  --nav-back-color: #344C64;
  --sunset-back-color:#DC6B19; 
  --white-color: white;
  --body-back-color: hsla(20, 80%, 50%, 0.2);
  --purple-border-color:#673F69;
  --image-hover-border-color: #6C0345;
  --container-color:rgba(172, 135, 197, 0.5);
  --container-color-hover: rgba(172, 135, 197, 1);
}
* {
  margin: 0;
  padding: 0;
  font-family: quicksand;
  transition: all 0.1s ease;
  box-sizing: border-box;
  letter-spacing: 1px;
}
body {
  background-color: var(--body-back-color);
  width: 100%;
}
a{
  text-decoration: none;
}

#nav-bar-list {
  /* width,height,padding */
  width: 100%;
  background-color: var(--nav-back-color) ;
  padding-bottom: 5vh;
  padding-top: 5vh;
  /* display settings */
  display: flex;
  justify-content: space-around;
  /* background image */
  font-size: 1.4vw;
}
.nav-bar-list-items {
  float: left;
}
.nav-bar-list-items:hover {
  background-color: var(--sunset-back-color);
  border-radius: 30px;
  font-weight: bold;
  scale: 1.03;
  height: max-content;
}
.nav-bar-list-items a {
  display: block;
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
.drop-down
{
  display: none;
}
#banner-img
{
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position:center ;
  
}
.main-section {
  margin-bottom: 10vh;
  margin-left: 0.5vw;
  margin: 2vw;
}
.main-section:hover .sec-headline
{
  transition-duration:1s ;
  scale: 1.1;
  color: var(--white-color);
  margin-left: 10px;
}
.main-section:hover span
{
  color: var(--white-color);

}
.sec-headline {
  padding: 2vw;
  background-color: var(--sunset-back-color);
  width: fit-content;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 1.7vw;
}
.sec-content {
  margin-top: 20px;
  font-size: 1.6vw;
}
#about-content
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly ;
  height: fit-content;
}
.about-container
{
  border: 3px solid var(--purple-border-color);
  border-radius: 30px;
  padding: 30px;
  margin: 2vw;
  width: 50vw;
  font-size: 1.6vw;
}
.about-container:hover
{
  border: 4px solid var(--purple-border-color);
  background-color: var(--purple-with-alpha,rgba(103, 63, 105, 0.3)) ;
  scale: 1.03;
  font-weight: bold;
  font-size: 1.8vw;
}
#quote {
  width: 50vw;
  border-radius: 50px;
  border: 3px solid var(--sunset-back-color);
  padding: 3vh;
  margin: 2vw;
  font-size: 1.6vw;
  
}
#quote:hover
{
  border: 4px solid var(--sunset-back-color);
  scale: 1.03;
  font-weight: bold;
  font-size: 1.8vw;
  background-color: var(--sunset-with-alpha, hsla(20, 80%, 50%, 0.3) ) ;
}
#about-main-section
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
#about-image
{
  border-radius: 20px;
  width: 30vw;
  height: fit-content;
  position: relative;
  top: 100px;

}
#about-image img
{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
#about-image:hover
{
  scale: 1.04;
  box-shadow: 10px 10px 5px 3px var(--image-hover-border-color) ;
}
.content-container
{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  height:fit-content
}
.container
{
  border: 3px solid #AC87C5;
  border-radius: 30px;
  width: 33.3vw;
  margin: 0.5vw;
  padding: 1vw;
  background-color: var(--container-color);
  height: fit-content;
}
.container h2
{
  text-align: center;
  margin-bottom: 2vh;
}
.container:hover
{
  scale: 1.01;
  font-size: 1.8vw;
  color: black ;
  background-color: var(--container-color-hover);
  font-weight: bold;
}
.sub-skill-container
{
  border: 2px solid var(--sunset-back-color);
  border-radius:20px;
  margin: 2vw;
  padding: 1vw;
}
.sub-skill-container:hover{
  scale: 1.04;
  background-color: var(--sunset-back-color);
  color: black;
  font-weight: bold;
}
#table-container
{
  display: flex;
  justify-content: center;
  width: 100%;
}
#hobbies-table
{
  align-self: center;
  border-spacing:30px ;
}
#hobbies-table td
{
  border: 2px solid rgba(183, 19, 117, 1);
  background-color: rgba(183, 19, 117, 0.3);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: 20vw;
  height: 5vh;
}
#hobbies-table td:hover{
  scale: 1.06;
  font-size: larger;
  font-weight: bold;
}
.testi-container
{
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  
}
.testi
{
  align-self: center;
  width: 85vw;
}
.testi h2
{
  text-align: left;
}
.contact {
  border-radius: 20px;
  padding-top: 2vw;
}

.contact a {
  text-decoration: none;
  color: black;
  display: block;
}
.contact a:hover{
  color: #94045f;
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--sunset-back-color);
  padding: 2vh;
}
